## Pandas Series Data Frames

In [2]:
import pandas as pd
import numpy as np

Create a numpy array

In [3]:
# create random values from std normal distribution
arr = np.random.randn(4)
print(type(arr))
print(arr, "/n")

# A pandas series made from the array above
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[ 1.10577579 -0.59820492  0.00408366  0.56335478] /n
<class 'pandas.core.series.Series'>
0    1.105776
1   -0.598205
2    0.004084
3    0.563355
dtype: float64

Notice that the index is included in a Panda series. Although the array can be indexed, the index is not part of it's data structure.

In [4]:
# creating a pandas series from a NumPy array
pd.Series(np.arange(3), index = [2023, 2024, 2025])

2023    0
2024    1
2025    2
dtype: int64

In [5]:
# A series from a list of strings with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

In [14]:
# Create a pandas.Series from a dictionary

# Construct a dictionary - keys and values. Â¿These values have the data type - 'dict'
d = {'key_0':2, 'key_1':3, 'key_2':5}

# Initialize a series using the dictionary
print(pd.Series(d))
s = pd.Series(d)
s

print(s.dtype)

# Notice, if any '' are included around the numbers in the value portion
# of the dictionary above, the data type of the series will be 'object'

key_0    2
key_1    3
key_2    5
dtype: int64
int64

In [15]:
# Create a pandas.Series from a single value
pd.Series(3.0, index = ['A', 'B', 'C'])

A    3.0
B    3.0
C    3.0
dtype: float64

# *Simple Operations*

In [23]:
# Define a series
z = pd.Series([98, 73, 65], index = ['Arnold', 'Barney', 'Crampston'])

# Divide each element in series by 10
print(z /10, '\n')

# Take the exponential (e^n) of each element in the series
print(np.exp(z), '\n')

# Original series is unchanged
print(z)

Arnold       9.8
Barney       7.3
Crampston    6.5
dtype: float64

Arnold       3.637971e+42
Barney       5.052394e+31
Crampston    1.694889e+28
dtype: float64

ellow 148.4131591025766
Arnold       98
Barney       73
Crampston    65
dtype: int64

In [27]:
# You can also produce new series with True/False values
# based on whether elements in a series satisfy a condition or not

print(z > 70)

print(z < 70)

# This is useful when selecting data from data frames

Arnold        True
Barney        True
Crampston    False
dtype: bool
Arnold       False
Barney       False
Crampston     True
dtype: bool

# *Identifying missing values*

In [28]:
# Series with NAs in it
na_s = pd.Series([1, 2, np.nan, 4, np.nan])

na_s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [30]:
# Cehck if series has NAs with hasnans
na_s.hasnans

True

In [31]:
# Get a list of booleans with the isna() attribute
na_s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [11]:
# Check-in Problem No. 1

#1
# Import pandas and numpy
import pandas as pd
import numpy as np

# Create Pandas series called s
s = pd.Series([1, -999, 2, -999], index = ['A', 'B', 'C', 'D'])

print(s)

A      1
B   -999
C      2
D   -999
dtype: int64

In [26]:
# Check-in Problem No. 2
# Check documentation for mask() function
?pd.Series.mask

# Apply the mask
s = s.mask(s == -999)
s

Signature:
pd.Series.mask(
    self,
    cond,
    other=<no_default>,
    *,
    inplace: 'bool_t' = False,
    axis: 'Axis | None' = None,
    level: 'Level | None' = None,
) -> 'Self | None'
Docstring:
Replace values where the condition is True.

Parameters
----------
cond : bool Series/DataFrame, array-like, or callable
    Where `cond` is False, keep the original value. Where
    True, replace with corresponding value from `other`.
    If `cond` is callable, it is computed on the Series/DataFrame and
    should return boolean Series/DataFrame or array. The callable must
    not change input Series/DataFrame (though pandas doesn't check it).
other : scalar, Series/DataFrame, or callable
    Entries where `cond` is True are replaced with
    corresponding value from `other`.
    If other is callable, it is computed on the Series/DataFrame and
    should return scalar or Series/DataFrame. The callable must not
    change input Series/DataFrame (though pandas doesn't check it).
    If not specified, entries will be filled with the corresponding
    NULL value (``np.nan`` for numpy dtypes, ``pd.NA`` for extension
    dtypes).
inplace : bool, default False
    Whether to perform the operation in place on the data.
axis : int, default None
    Alignment axis if needed. For `Series` this parameter is
    unused and defaults to 0.
level : int, default None
    Alignment level if needed.

Returns
-------
Same type as caller or None if ``inplace=True``.

See Also
--------
:func:`DataFrame.where` : Return an object of same shape as
    self.

Notes
-----
The mask method is an application of the if-then idiom. For each
element in the calling DataFrame, if ``cond`` is ``False`` the
element is used; otherwise the corresponding element from the DataFrame
``other`` is used. If the axis of ``other`` does not align with axis of
``cond`` Series/DataFrame, the misaligned index positions will be filled with
True.

The signature for :func:`DataFrame.where` differs from
:func:`numpy.where`. Roughly ``df1.where(m, df2)`` is equivalent to
``np.where(m, df1, df2)``.

For further details and examples see the ``mask`` documentation in
:ref:`indexing <indexing.where_mask>`.

The dtype of the object takes precedence. The fill value is casted to
the object's dtype, if this can be done losslessly.

Examples
--------
>>> s = pd.Series(range(5))
>>> s.where(s > 0)
0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64
>>> s.mask(s > 0)
0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
dtype: float64

>>> s = pd.Series(range(5))
>>> t = pd.Series([True, False])
>>> s.where(t, 99)
0     0
1    99
2    99
3    99
4    99
dtype: int64
>>> s.mask(t, 99)
0    99
1     1
2    99
3    99
4    99
dtype: int64

>>> s.where(s > 1, 10)
0    10
1    10
2    2
3    3
4    4
dtype: int64
>>> s.mask(s > 1, 10)
0     0
1     1
2    10
3    10
4    10
dtype: int64

>>> df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
>>> df
   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9
>>> m = df % 3 == 0
>>> df.where(m, -df)
   A  B
0  0 -1
1 -2  3
2 -4 -5
3  6 -7
4 -8  9
>>> df.where(m, -df) == np.where(m, df, -df)
      A     B
0  True  True
1  True  True
2  True  True
3  True  True
4  True  True
>>> df.where(m, -df) == df.mask(~m, -df)
      A     B
0  True  True
1  True  True
2  True  True
3  True  True
4  True  True
File:      /opt/anaconda3/envs/eds220-env/lib/python3.11/site-packages/pandas/core/generic.py
Type:      function

A    1.0
B    NaN
C    2.0
D    NaN
dtype: float64

# *Creating a `pandas.Dataframe`*

In [27]:
# Initialize dictionary with columns' data
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
    }

# Create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

In [36]:
# Check-in problem 3
df.columns = ['col_1', 'col_2']
df

   col_1  col_2
0      0    3.1
1      1    3.2
2      2    3.3

In [35]:
# Change index to 'a', 'b', 'c'
df.index = ['a', 'b', 'c']
df

   col_name_1  col_name_2
a           0         3.1
b           1         3.2
c           2         3.3

## **Summary of Concepts**

We learned about 4 separate data structures in python: Arrays, Dictionaries, Series and Dataframes. Arrays are 1-dimensional (I think) lists of values that have no order, and are intiated by NumPy. A series is 2-dimensional, and is a list of values that are associated with an index. And index is a column that allows the order of values within a sequence to be utilized and manipulated. Series are intiated using the Pandas package. A dictionary is a native python function which allows one to associate 'keys' with 'values'. The 'values' can be individual values, or a series. Within a dictionary, members of a series that comprise a 'value' will share a 'key'. These dictionaries can be represented as data-frames. A data frame can take a dictionary, and assign an index to the members of the series that comprise the 'value' portion of the 'key'-'value' pair.