# Updating data frames

## Updating values in a dataframe

Let's start by importing packages and data

In [1]:
import numpy as np
import pandas as pd
import random

# Set the seed
random.seed(42)

# Import data
URL = 'https://raw.githubusercontent.com/allisonhorst/palmerpenguins/main/inst/extdata/penguins.csv'
penguins = pd.read_csv(URL)

In [2]:
# Add column body mass in kg
penguins['body_mass_kg'] = penguins['body_mass_g']/1000

# Confirm the new column is in the data frame
print('body_mass_kg' in penguins.columns)

True

In [3]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.750
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.800
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.250
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.450
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.000
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.400
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.775
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.100
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.775

In [4]:
# Create random 3-digit codes
codes = random.sample(range(100,1000), len(penguins))

In [5]:
# Insert codes at the front of the data frame

penguins.insert(loc=0, #Index
                column='id_code',
                value=codes
               )

penguins.head()

,id_code,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
0,754,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
1,214,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80
2,125,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25
3,859,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,381,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45

## A single value

Access a single value in a `pandas.DataFrame` using locators

- `at[]` to select by labels, or
- `iat[]` to select by index position.

Syntax.
```
df.at[single_index_value, `column_name`]
```

* `at[]` is the equivalent of `loc[]`

In [6]:
penguins = penguins.set_index('id_code')

In [7]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
id_code,,,,,,,,,
754,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.750
214,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.800
125,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.250
859,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
381,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.450
...,...,...,...,...,...,...,...,...,...
140,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.000
183,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.400
969,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.775
635,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.100
883,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.775

What was the bill length of the penguins with ID 677

In [8]:
# Check bill length of pengwing with ID 214
penguins.at[214, 'bill_length_mm']

39.5

In [9]:
penguins.at[859, 'bill_length_mm']

nan

In [10]:
# Correct the nan at 859
penguins.at[859, 'bill_length_mm'] = 38.3

# Confirm
penguins.loc[859]

species                 Adelie
island               Torgersen
bill_length_mm            38.3
bill_depth_mm              NaN
flipper_length_mm          NaN
body_mass_g                NaN
sex                        NaN
year                      2007
body_mass_kg               NaN
Name: 859, dtype: object

#### If we want to access or update a single value by index position we use `iat[]` locator:

Syntax:
```
df.iat[index_integer_location, column_integer_location]
```

Dynamically get the location of a single column
```
df.columns.get_loc('column_name')
```

## Check-in

a. Obtain the location of the `bill_length_mm` column programatically

2. Use `iat[]` to access the bill length for the penguin with ID nnn (you may have a different ID) and revert it back to NA. Confirm the changes in your favorite way

In [14]:
# Locate column with bill length
print(penguins.columns.get_loc('bill_length_mm'))

# Locate index position of 859
print(penguins.index.get_loc(859))

2
3

In [16]:
# Change specified value to 'NaN' using `.iat[row, column]`
penguins.iat[3, 2] = np.nan

In [17]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
id_code,,,,,,,,,
754,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
214,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80
125,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25
859,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
381,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45

## Multiple values in a column

### Using a condition

Example:

We want to classify the Palmer pengiuns such that:

- Penguins with body mass < 3kg are small
- Penguins with 3kg <= body mass < 5kg are medium
- Penguins with 5kg <= body mass are large

In [18]:
# Create a list with the conditions
conditions = [penguins.body_mass_kg < 3,
             (3 <= penguins.body_mass_kg) & (penguins.body_mass_kg < 5),
             5 <= penguins.body_mass_kg
             ]

# Create a list with the choices
choices = ['small',
           'medium',
           'large']

# Add the selection using np.select
penguins['size'] = np.select(conditions,
                             choices,
                             default=np.nan) # Value for anything outside conditions

# Display updated dataframe
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg,size
id_code,,,,,,,,,,
754,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75,medium
214,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80,medium
125,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25,medium
859,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN,nan
381,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45,medium

## Update values by selecting them

We can do this with `loc` or `iloc` and assigning new values

Syntax:
```
df.loc[row_selection, column_name] = new_values
```

Using `loc[]` in assignment modifies the data frame directly without the need for reassignment


### Example
Update the 'male' values in the sex column to 'M'

In [24]:
# Select rows with sex = male and simplify values
penguins.loc[penguins.sex=='male', 'sex'] = 'M'

In [25]:
# Check changes in 'sex' column
print(penguins.sex.unique())

['M' 'female' nan]

### Best practices

We want to update the 'female' values in 'sex' column to 'F'

In [28]:
# Select rows where 'sex' is 'female' and change to 'F'
penguins.loc[penguins.sex=='female', 'sex'] = 'F'

print(penguins.sex.unique())

['M' 'F' nan]

**Avoid chained indexing** - do not put brackets right next to eachother. `[][]`
use `.loc` instead

#### It is important to distinguish between *copies* and *views*
#### **Views** are actualy subsets of the orginal data, when we update them, we are modifying the original data frame.

#### **Copies** are unique objects, independent of our original data frames. WHen we update a copy we are not modying the orginal data frame.

## Example
We only want to use data from Biscoe island, after doing some analyses, we want to add a new column.

In [32]:
# Select penguins from Biscoe island
biscoe = penguins[penguins.island == 'Biscoe'].copy()

biscoe['sample_column'] = 100

In [34]:
# Check if 'sample_column' is in penguins
'sample_column' in penguins.columns

False